/* @font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    url("fonts/roboto-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/roboto-v20-latin-500.woff2") format("woff2"),
    url("fonts/roboto-v20-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/roboto-v20-latin-700.woff2") format("woff2"),
    url("fonts/roboto-v20-latin-700.woff") format("woff");
} */
:root {
  --site-bg: #c3d4e2;
  --card-header-bg: #6a96d8;
  --sender-text-bg: #e6edf6;
  --receiver-text-bg: #f2f2f2;
  --disabled-message-bg: #ffc2c1;
  --input-send-color: #6a96d8;
  --card-after-color: #dddddd;
  --messenger-time: #aaaaad;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--site-bg);
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.messenger-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.messenger-card {
  width: 400px;
  background-color: #fff;
  height: auto;
}
.messenger-card-header {
  background-color: var(--card-header-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 23px;
}
.card-header-title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  letter-spacing: 1px;
}

.card-header-title::before {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 13px;
}
.card-header-close {
  background-image: url(../img/close.svg);
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.6;
}
.card-header-close:hover {
  opacity: 1;
}

.messenger-list {
  padding: 15.5px;
  margin: 0;
}

.messenger-text {
  padding: 11px 10px;
  margin-top: 8px;
  font-weight: 700;
  border-radius: 4px;
  max-width: 75%;
  line-height: 1.4;
}

.messenger-sender::before {
  display: block;
  content: "";
  border-top: 0px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid var(--sender-text-bg);
  position: absolute;
  top: 21px;
  left: -7px;
}
.messenger-receiver:nth-child(2)::before {
  display: block;
  content: "";
  border-top: 0px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid var(--receiver-text-bg);
  position: absolute;
  top: 21px;
  right: -7px;
}

.messenger-item {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  position: relative;
}
.messenger-date {
  margin-top: 0;
  text-transform: uppercase;
  color: var(--card-after-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 11.5px;
}

.messenger-date::before,
.messenger-date::after {
  height: 1px;
  width: 150px;
  content: "";
  background-color: var(--card-after-color);
}
.sender {
  align-items: flex-start;
}
.receiver {
  align-items: flex-end;
}
.messenger-time {
  color: var(--messenger-time);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
}
.messenger-sender {
  background-color: var(--sender-text-bg);
}
.messenger-receiver {
  background-color: var(--receiver-text-bg);
  border-top-left-radius: 0px;
}
.disabled-message {
  background-color: var(--disabled-message-bg);
}

.messenger-card-footer {
  margin: 15px;
  margin-top: 0;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px var(--card-after-color) solid;
}

.messenger-input {
  font-weight: 500;
  font-size: 14px;
  border: none;
  outline: none;
  width: 80%;
}
.message-sender {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14.4px;
  letter-spacing: 1px;
  color: var(--input-send-color);
}
